body {
	background-color: white;
}

.title {
	color: black;
	font-size: 60px;
	font-family: Cambria;
	text-align: center;
}

.button {
	text-align: center;
	font-family: Cambria;
}

button {
	height: 40px;
	width: 90px;
	color: beige;
	background-color: orange;
	font-size: 16px;
	font-family: Cambria;
	border-radius: 8px;
	position: relative;
	top: -10px;
	right: -5px;
}

table {
	width:400px;
	margin-left:auto;
	margin-right:auto;
}

.created_at {
	color: black;
	font-size:14px;
	font-family: Cambria;
	text-align:right;
	margin-bottom: 10px;
	border-bottom-style: solid;
	border-bottom-color: black;
	border-bottom-width: thin;
}

.tweet {
	font-size: 16px;
	margin-top: 5px;
	font-family: Cambria;
}

.user {
}
